# Python / Django
*.py[cod]
__pycache__/
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# Entornos / variables
.env
.venv/
venv/
env/

# Archivos de usuario y compilados estáticos
media/
staticfiles/
static_root/

# IDEs / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Node (si algún día usas)
node_modules/
