# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
.Python

# Entornos
.venv/
venv/
env/
ENV/
.env
.env.*

# Django
db.sqlite3
/media/
staticfiles/
collectstatic/
*.log

# Tests/coverage
.coverage
.pytest_cache/
htmlcov/

# IDE/editores
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db
desktop.ini

# Otros
node_modules/
